dist
node_modules
test
.dockerignore
.git
.vscode
.github
.env
.env.local
.env.dev
.env.production
.env.test
.eslintrc.json
.gitignore
.prettierrc
Dockerfile
npm-debug.log
.next
!.next/static
!.next/standalone
README.md
prisma/seed.ts
